server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/aluguel
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
